.App,
.html {
	background-color: #f4f5f8;
	font-size: large;
}

.header {
	width: 20em;
	padding: 10px;
}
.priority-header-box {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
}
h3 {
	position: relative;
}
.status-indicator-inactive {
	display: flex;
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #a39393;
	border-radius: 50%;
	bottom: 5;
	left: 10;
	border: 2px solid white;
	margin-right: 4px;
}
.status-indicator-active {
	display: flex;
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	bottom: 5;
	left: 10;
	border: 2px solid white;
	margin-right: 4px;
	background-color: greenyellow;
}
.status-header-box {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
	width: 21em;
	margin-left: 5px;
}
.user-header-box {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
	width: 21em;
	margin-left: 5px;
}

.kanban-board {
	display: flex;
	flex-flow: row nowrap;
}
.ticket-column {
	width: 24em;
	margin: 5px 5px;
	padding: 5px;
}
.ticket-card {
	background-color: rgb(255, 255, 255);
	width: 20em;
	flex-flow: column wrap;
	border: 2px solid #e4e6e9;

	display: flex;
	margin: 2em 5px;
	padding: 10px;
	border-radius: 0.7em;
}
.ticket-card::before {
	background: linear-gradient(#e4e6e9ff, #f0f1f4ff, #f4f5f8ff, #e9eaedff);
}
.card-id {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
	color: #a39393;
}
.card-title {
	white-space: wrap;
	text-overflow: ellipsis;
	height: 2.4em;
	overflow: hidden;
}

.card-priority {
	margin-left: 2px;
	margin-right: 5px;
	width: fit-content;
	height: fit-content;
	border-radius: 0.5em;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}

.card-grp {
	display: flex;
	flex-flow: row;
	justify-items: flex-end;
}
.card-status {
	border-radius: 0.5em;
	margin: 2px;
	border: 1px solid #000;
	width: fit-content;
	height: fit-content;
}
.filter {
	background: white;
	height: 4em;
	margin-top: 2em;
}
.filter-bar {
	position: absolute; /* Position the filter bar absolutely */
	background: rgb(255, 255, 255); /* Set background color */
	z-index: 1000;
	border: 2px solid #e4e6e9;
	border-radius: 0.6em;
	flex-flow: column nowrap;
	height: fit-content;
	width: 240px;
	box-shadow: #a39393;
}
.grouping {
	flex-flow: row nowrap;
	display: flex;
	justify-content: space-around;

	margin-top: 0.7em;
}
.ordering {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	flex-flow: row nowrap;
	display: flex;
	justify-content: space-around;
}
img {
	height: 1em;
	width: 1em;
}
.menu {
	border: 3px solid #e4e6e9;
	width: fit-content;
	border-radius: 0.6em;
	padding: 0.5em;
	justify-content: space-around;
}

select,
option {
	border: 2px solid #e4e6e9;
	border-radius: 0.4em;
	margin: 3px;
	padding: 3px;
}
